<div class="card main">
  <div class="grid p-fluid titulo-form">
    <div class="p-fluid col-12 md:col-10">
      <h3 class="">Cadastro de Pessoa</h3>
    </div>
    <div class="p-fluid col-12 md:col-2">
      <button pButton pRipple type="button" label="Filtrar" class="p-button-raised p-button-text" icon="pi pi-search" iconPos="right" (click)="abrirTelaDeDetalhes()"></button>
    </div>
  </div>

  <form>
    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input id="float-input-nome" type="text" pInputText class="w-full p-inputtext-sm">
          <label for="float-input-nome">Nome</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input id="float-input-sobrenome" type="text" pInputText class="w-full p-inputtext-sm">
          <label for="float-input-sobrenome">Sobrenome</label>
        </span>
      </div>
      <div class="field col-12 md:col-8">
        <span class="p-float-label">
          <p-calendar dateFormat="dd-mm-yy" inputId="dateformat" class="p-inputtext-sm input" [showIcon]="true"></p-calendar>
          <label for="dateformat">Data de Nascimento</label>
        </span>
      </div>
      <div class="field col-12 md:col-8">
        <span class="p-float-label">
          <input id="float-input-cpf" type="text" pInputText class="p-inputtext-sm input">
          <label for="float-input-cpf">CPF</label>
        </span>
      </div>
      <div class="field col-12 md:col-8">
        <span class="p-float-label">
          <input id="float-input-email" type="text" pInputText class="p-inputtext-sm input">
          <label for="float-input-email">Email</label>
        </span>
      </div>

      <div class="field col-12">
        <p-fieldset legend="Endereço" [toggleable]="true">
          <div class="formgrid grid">
            <div class="field col-12 md:col-8">
              <span class="p-float-label p-input-icon-right">
                <i class="pi pi-search"></i>
                <input id="float-input-cep" type="text" pInputText class="p-inputtext-sm input">
                <label for="float-input-email">CEP</label>
              </span>
            </div>
            <div class="field col-12 md:col-8">
              <span class="p-float-label">
                <input id="float-input-rua" type="text" pInputText class="w-full p-inputtext-sm">
                <label for="float-input-rua">Rua</label>
              </span>
            </div>
            <div class="field col-12 md:col-4">
              <span class="p-float-label">
                <input id="float-input-numero" type="text" pInputText class="p-inputtext-sm input">
                <label for="float-input-numero">Número</label>
              </span>
            </div>
            <div class="field col-12 md:col-8">
              <span class="p-float-label">
                <input id="float-input-cidade" type="text" pInputText class="w-full p-inputtext-sm">
                <label for="float-input-cidade">Cidade</label>
              </span>
            </div>
            <div class="field col-12 md:col-4">
              <span class="p-float-label">
                <input id="float-input-estado" type="text" pInputText class="p-inputtext-sm input">
                <label for="float-input-estado">Estado</label>
              </span>
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>
    <button pButton pRipple type="button" label="Salvar" icon="pi pi-save" iconPos="right" class="button"></button>
    <button pButton pRipple type="button" label="Limpar" class="p-button-outlined button-limpar" icon="pi pi-refresh" iconPos="right"></button>
  </form>
</div>
