<footer class="fixar-rodape">
  <div class="card">
    <div class="flex card-container indigo-container">
      <div class="flex-1 h-0rem bg-indigo-0 text-black-alpha-60 font-bold text-left p-4 border-round">
        <p class="text">SCPCI-WEB - Sistema de Cadastro de Pessoas, Cursos e Inscrições.</p>
      </div>
      <div class="flex-1 h-1rem bg-indigo-0 text-black-alpha-60 font-bold text-center p-4 border-round">
        <p class="text">Versão: 0.0.1</p>
      </div>
      <div class="flex-1 h-1rem bg-indigo-0 text-black-alpha-60 font-bold text-right p-4 border-round">
        <p class="text">&copy; Desenvolvido por: Mateus Souza</p>
      </div>
    </div>
  </div>
</footer>

