<p-toast></p-toast>
<app-loading></app-loading>
<div class="card">
  <p-table #dt [value]="pessoas" [rows]="5" [paginator]="true"
           [globalFilterFields]="['nome','pessoa.nome','email','cpf']"
           [tableStyle]="{'min-width': '75rem'}"
           [responsive]="true"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h4 class="m-0">Pessoas Cadastradas</h4>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                           placeholder="Search..."/>
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nome" style="min-width:15rem">Nome
          <p-sortIcon field="nome"></p-sortIcon>
        </th>
        <th pSortableColumn="nascimento">Nascimento
          <p-sortIcon field="nascimento"></p-sortIcon>
        </th>
        <th pSortableColumn="nascimento" style="min-width:10rem">CPF
          <p-sortIcon field="category"></p-sortIcon>
        </th>
        <th pSortableColumn="email">Email
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="cidade" style="min-width:10rem">Cidade
          <p-sortIcon field="cidade"></p-sortIcon>
        </th>
        <th style="min-width:10rem">Ações
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pessoa>
      <tr>
        <td>{{pessoa.nome +" " + pessoa.sobrenome}}</td>
        <td>{{pessoa.dataNascimento}}</td>
        <td>{{pessoa.cpf | cpf}}</td>
        <td>{{pessoa.email}}</td>
        <td>{{pessoa.endereco?.cidade + " / " + pessoa.endereco?.estado}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editarPessoa(pessoa)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deletarPessoa(pessoa)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Total de Pessoas cadastradas: {{pessoas ? pessoas.length : 0 }}
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="abrirFormEditar"
          [style]="{width: '1200px'}"
          header="Dados da Pessoa"
          [modal]="true"
          [responsive]="true"
          [resizable]="true"
          styleClass="p-fluid"
          [closable]="true"
          [maximizable]="true"
          (onHide)="listarPessoas()">

  <ng-template pTemplate="content">
    <app-loading></app-loading>
    <app-pessoa [modoEdicao]="true" [pessoa]="pessoaParaEditar">
    </app-pessoa>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)="fecharFormEdicaoPessoa()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
